<button class="btn btn-accent btn-square" type="{{ type }}">{{ text }}</button>
<div class="radial-progress" style="--value:70;">70%</div>
<div class="radial-progress" style="--value:70;">70%</div>
<ul class="menu p-3 bg-base-200 rounded-xl">
    <li class="menu-title">
        <span>Menu Title</span>
    </li>
    <li><a>First Menu Item</a></li>
    <li><a>Second Menu Item</a></li>
    <li><a>Third Menu Item</a></li>
</ul>